body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
    line-height: 150%;
    color: #777;
    background-image: url("../images/lilypads.png");
    margin: 0;
    padding: 0;
    width: 100%;
}

/* header and footer are in separate stylesheets */
/* needed for the sticky footer */
.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*first container to set width to 960 and add margin*/
.content-container {
    box-sizing: border-box;
    max-width: 960px;
    width: 100%;
    margin: 40px auto;
    flex: 1 0 auto;
}

/*second container to make sure white background is only around page content*/
.just-text {
    display: flex;
    padding: 30px;
    background-color: #fff;
    border: 1px solid #ddd;
    flex-direction: column;
}

/*add the pretty page title to the top of the page content*/
.page-title {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    padding: 10px 0 30px 0;
    margin: 0 0 20px 0;
    border-bottom: 2px solid #ccc;
}

/*styles for about me page*/
.container-text {
    display: block;
}

.container-text p:first-of-type {
    margin-block-start: unset;
}

.profile-image {
    width: 300px;
    height: 300px;
    margin: 0 20px 20px 0;
    float: left;
}

.quote {
    font-size: 20px;
    font-style: italic;
    color: #666;
}

/*styles for contact form*/
input,
textarea {
    box-sizing: border-box;
    padding: 8px;
    border: 1px solid #777;
    margin: 10px 0;
}

#name,
#email,
#msg {
    width: 100%;
    font-size: 16px;
}

#msg {
    height: 200px;
}

#submit {
    background-color: #4aaaa5;
    color: #fff;
    font-size: 16px;
    padding: 12px 30px;
    box-sizing: content-box;
}

/*styles for portfolio page*/
.portfolio-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.portfolio-card {
    position: relative;
    width: 280px;
    height: 200px;
    padding: 0;
    margin: 0 20px 20px 0;
}

.card-banner {
    width: 280px;
    height: 40px;
    font-size: 20px;
    background-color: #4aaaa5;
    color: #fff;
    position: absolute;
    left: 0;
    bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
